.logo-container {
  width: 80%;
  max-width: 300px;
  height: 50%;
  position: relative;
}

.logo {
  width: 100%;
  height: 50%;
  animation: shine 3s infinite linear;
}

.get-started-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  animation: shine 3s infinite linear;
}

.get-started-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-25deg);
  animation: btnShine 2s infinite;
}

@keyframes shine {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes btnShine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
