.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.logo-container:hover .logo {
  transform: scale(1.1) rotate(10deg);
}

.get-started-btn {
  padding: 10px 30px;
  font-size: 1.5rem;
  color: white;
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 30px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.get-started-btn:hover {
  background: linear-gradient(to right, #00c6ff 0%, #0072ff 100%);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
